{% extends 'main.html' %}


{% block content %}
<body>

  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{ unreadRequest }}</span>)</h3>
      <ul class="messages">
        {% for message in messageRequests %}
        <li class="message message--unread">
          <a href="message.html">
            <span class="message__author">{{ message.name }}</span>
            <span class="message__subject">{{ message.subject }}</span>
            <span class="message__date">{{ message.created }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </main>
</body>
{% endblock content %}
