{% extends 'main.html' %}

{% block content %}
    <h1>{{ project.title }}</h1>
<hr>
    {% for tag in project.tags.all %}
        <span style="border: 1px solid black ; padding: 1em; background-color: yellowgreen">{{ tag }}</span>

    {% endfor %}
<hr>
    <p> {{ project.description}}
    <hr>
</p>
    {% for review in project.review_set.all %}
        <P>{{ review }}</P>
        <hr>
        <P>{{ review.body }}</P>
        <hr>
        <P>{{ review.created }}</P>
    {% endfor %}
{% endblock content%}
