{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
input[type='text'],
input[type='email'],
input[type='password']{

  min-width:24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-light);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-bg);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:active,
input[type='email']:active,
input[type='password']:active {

  outline: none;
  border: 2px solid var(--color-main);
}
</style>

    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="{% url 'reset_password' %}">
            <img src="{% static 'images/icon.svg'%}" alt="icon" />
          </a>
          <h3>Forget Password?</h3>
          <p>Reset password by entering the email address</p>
        </div>

        <form class="form" method="POST"  >
        {% csrf_token %}
          <!-- Input:Email -->
            {{form}}
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Send Instructions" />
            <a href="{% url 'login' %}">Login</a>
          </div>
        </form>
        <div class="auth__alternative">
          <p>Don’t have an Account?</p>
          <a href="{% url 'register' %}">Sign Up</a>
        </div>
      </div>
    </div>



{% endblock content %}
