{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
input[type='text'],
input[type='email'],
input[type='password']{

  min-width:24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-light);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-bg);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:active,
input[type='email']:active,
input[type='password']:active {

  outline: none;
  border: 2px solid var(--color-main);
}
</style>


<div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="{% url 'reset_password_confirm' %}">
            <img src="{% static 'images/icon.svg'%}" alt="icon" />
          </a>
          <h3>Enter new password</h3>
          <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>

        <form class="form" method="POST"  >
        {% csrf_token %}
            {{form}}
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="change my password" />
          </div>
        </form>
      </div>
</div>
{% endblock content %}